@import "/src/variables";

.card{
    width:260px; 
    height: 191px;
    background: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 18px -12px $grayishBlue;
    -moz-box-shadow: 0px 6px 18px -12px $grayishBlue;
    box-shadow: 0px 6px 18px -12px $grayishBlue;

    .content{
        padding: 25px 20px;
        padding-bottom: 0px;
        height: -webkit-fill-available;

        .title{
            font-size: 17px;
            font-weight: 600;
            color: $veryDarkBlue;
            margin-bottom: 10px;
        }
        .description{
            color: $grayishBlue;
            font-size: 11px;
        }
        .icon{
            text-align: right;
            margin-top: 25px;
        }
    }
}

.card-2{
    margin-bottom: 25px;
}

.card:before{
    content: " ";
    position: absolute;
    height: 4px;
    width: inherit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.card-1:before{
    background-color: #44d2d1 !important;
}

.card-2:before{
    background-color: #eb5354 !important;
}

.card-3:before{
    background-color: #fbad4a !important;
}
.card-4:before{
    background-color: #539def !important;
}


@media(max-width: 959px){
    .card-1, .card-2, .card-3, .card-4{
        margin-bottom: 25px;
    }
}