<main [@fadeInTrigger]='state'>
    <div class='container'>
        <div class="header">
            <h1>Reliable, efficient delivery</h1>
            <h2>Powered by Technology</h2>
            <p class="mt-4">Our Artificial Intelligence powered tools use millions of proyects data points to ensure that your proyect is successful</p>
        </div>
            <div class="content">
                <div class="row" fxLayout="row" fxFlexAlign='center'>
                    <div fxFlex.gt-sm='33' fxFlex.lt-md='100'>
                        <div class="card-container-one one">
                            <div class="card-container-two">
                                <app-card
                                title="Superviser"
                                description="Monitors activity to identify proyect roadblocks"
                                icon='icon-supervisor.svg'
                                cardNumber='1'
                                ></app-card>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.gt-sm='33' fxFlex.lt-md='100'>
                        <div class="card-container-one two">
                            <div class="card-container-two" >
                                <div>
                                <app-card
                                 title="Team Builder" 
                                          description='Scans our talent network to create the optimal team for your proyect'
                                          icon='icon-team-builder.svg'
                                          cardNumber='2'
                                          ></app-card>
                                </div>
                                <div>
                                <app-card
                                 title="Karma" 
                                          description='Regularly evaluates our talent to ensure quality'
                                          icon='icon-karma.svg'
                                          cardNumber='3'></app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.gt-sm='33' fxFlex.lt-md='100'>
                        <div class="card-container-one three">
                            <div class="card-container-two">
                                <app-card
                                 title="Calculator" 
                                          description='Uses data from projects to provide better delivery estimates'
                                          icon='icon-calculator.svg'
                                          cardNumber='4'></app-card>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
    </div>
</main>